<div align="center">
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:{{ .Get "id" }}" allowfullscreen="" title="Eingebetteter Beitrag" width="504" height="{{ .Get "height" }}" frameborder="0"></iframe>
</div>
